
<%
  cancel_to ||= documents_path
%>

<%= form_with(model: document, local: true) do |form| %>

    <% if document.errors.any? %>
      <section id="error_explanation">
        <div>
          <h4><%= t('errors.template.header', count: document.errors.count, model: document.model_name.human(count: 0)) %>:</h4>
          <ul>
            <% document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>

    <section>
      <div>
        <%= field_set_tag do %>
          <div class="field">
            <div>
              <%= form.label :name %>
            </div>
            <div>
              <%= form.text_field :name %>
            </div>
          </div>
          <div class="field">
            <div>
              <%= form.label :description %>
            </div>
            <div>
              <%= form.text_area :description, rows: "6" %>
            </div>
          </div>
          <div class="field">
            <div></div>
            <%= render 'files', show_delete: true %>
          </div>
          <div class="field">
            <div></div>
            <div>
              <%= form.file_field :files, multiple: true, direct_upload: true %>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section class="buttons">
      <div>
        <%= form.submit class: "success" %>
        <%= link_to t('Cancel'), cancel_to, class: "warning" %>
      </div>
    </section>

<% end %>
