
<header>
  <h1><%= t('Document.List') %></h1>
</header>

<main>
  <%= render 'notice' %>

  <section>
    <div>
      <table>
        <thead>
          <tr>
            <th><%= Document.human_attribute_name('name', count: 0) %></th>
            <th><%= Document.human_attribute_name('description') %></th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
          <tr>
              <td><%= link_to document.name, document %></td>
              <td><%= truncate(document.description, 30) %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <%= link_to t('New', model: Document.model_name.human(count: 0)), new_document_path %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>

</main>
